
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to ask questions about items">
		<meta name="author" content="Humza Shahid">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Ask a question</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
		<form method="post" enctype="multipart/form-data" action="/ask/{{item.id}}">
			<h3>Ask a question about {{item.name}}:</h3>
			<label>Subject <input type="text" name="subject" /></label>
			<label>Your question: <textarea name="question"></textarea> </label>
			<input type="submit" />
		</form>
	</main>
	</body>
</html>
