
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="View events">
		<meta name="author" content="Humza Shahid">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
			<h1>{{event.title}}</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
		<h2>{{event.date}}</h2>
		<p>{{event.description}}</p>
		<img src="{{host}}/uploads/{{event.image}}">
		
		<section>
			{{#each items}}
			<a href="/item/{{this.id}}">
			<figure>
				<img src="{{host}}/uploads/items/{{this.image}}">
				<figcaption>{{this.name}} <br /> {{this.date}}</figcaption>
			</figure></a>
			{{/each}}
		</section>
		
	</main>
		<footer>
			{{#if owner}}
			<button><a href="/newitem/{{event.id}}">Add an item</a></button>
			{{/if}}
		</footer>
	</body>
</html>
