
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Item Details</title>
		<meta name="description" content="View details of item">
		<meta name="author" content="Humza Shahid">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
			<h1>Item Details</h1>
			{{#if authorised}}
				<a href="/logout">Log out</a>
			{{else}}
				<a href="/login">Log in</a>
			{{/if}}
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
	<main>
		<h2>{{item.name}}</h2>
		<img src="{{host}}/uploads/items/{{item.image}}">
		{{#if item.pledged}}
		<p>Item has been pledged by {{item.user}}</p>
		{{else}}
				{{#if owner}}<p>Waiting for pledge...</p>
		{{else}}
				{{#if authorised}}
		<section>
		<a href="/sendpledge/{{item.id}}">
			<button>Pledge item</button>
		</a>
		<a href="/ask/{{item.id}}">
			<button>Ask a question</button>
		</a></section>
		{{/if}}
		{{/if}}
		{{/if}}
		<table>
		<tr><th>Question</th><th>Answer</th>
		</tr>
			{{#each messages}}
				<tr> 
					<td>{{this.question}}</td>
					<td>
					{{#if this.answer}}
						{{this.answer}}
					{{else}}
						<a href="answer/{{this.id}}">Click to Answer</a>
					{{/if}}
					</td>
				</tr>
			{{/each}}
		</table>
	</main>
		<footer>
			<a href="{{item.link}}"><button>Buy for £{{item.price}}</button></a>
		</footer>
	</body>
</html>
